---
layout: internal
---

<section class="section light-section">
	<div class="row outer-row">
		<div class="large-8 medium-centered columns text-center">

			<h2>H2. Why Do Others Fail?</h2>
			<h3>H3. It's awful out there...</h3>

			<p class="lead">LEAD. Because responsive design is hard, first and foremost. These offshore businesses are dealing with hundreds of clients and the developers aren't being paid enough, so you end up with a dodgy end-product and a lame user experience.</p>

			<div class="divider">
				<span class="text">This is a divider class</span>
			</div>

			<div class="text-left">
				<p>I build responsive websites exclusively and I have a deep understanding of the best techniques and methods. I also code everything through a static site generator which enables me to lay out templates (with proper inheritance) so back-end devs can integrate with their systems smoothly. This saves everyone time.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>

		</div>
	</div>
</section>
